.campus{
    width: 90%;
    margin: 80px auto;
    text-align: center;

}

.gallery{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 40px;

}

.gallery img{
    width: 23%;
    border-radius: 10px;
}

/* media querry*/
@media(max-width:800px){
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom: 25px;
    }
}